<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로젝트 참여인원 선택</title>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
	<form action="">
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
		<tr>
			<th><input type="checkbox" name="allCheckBox" id="allCheckBox"></th>
			<script>
				$("#allCheckBox").click(function(){
					var chk = $('#allCheckBox').prop("checked");
					if(chk){
						$(".checkBox").prop("checked",true);
					}else{
						$(".checkBox").prop("checked",false);
					}
				});
			</script>
			<th bgcolor="orange">이름</th>
			<th bgcolor="orange">부서</th>
			<th bgcolor="orange">팀</th>
			<th bgcolor="orange">직급</th>
		</tr>
		<tr th:each="worker : ${members}">
			<td><input type="checkbox" name="memId" class="checkBox" th:value="${worker.memId}"/></td>
			<script>
			$(".checkBox").click(function(){
				$("#allCheckBox").prop("checked",false);
			});
			</script>
			<td th:text="${worker.memName}"></td>
			<td th:text="${worker.deptName}"></td>
			<td th:text="${worker.teamName}"></td>
			<td th:text="${worker.ranks}"></td>
			<td><input type="hidden" name="prjCode" id="prjCode" th:value="${prjCode.prjCode}"/></td>
		</tr>
	</table>
	<br>
	<button type="button" class="insertProjectAttendMembersBtn">프로젝트 참여인원 선택 완료 </button>
	<script>
		$(".insertProjectAttendMembersBtn").click(function(){
			var confirm_val = confirm("선택을 완료하시겠습니까?");
			if(confirm_val){
				var checkBoxArr = new Array();
				$("input[class='checkBox']:checked").each(function(){
					checkBoxArr.push($(this).val());
				})
				var prjCode = $("#prjCode").val();
				$.ajax({
					url:"/insertProjectAttendMembers",
					type:"post",
					data:{
						checkBoxArr:checkBoxArr,
						prjCode:prjCode
					},
					success:function(){
						location.href="/projectDetail?prjCode="+prjCode;
					}
				});
			}
		});
	</script>
	</form>
</body>
</html>