<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="js/project/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/project/bootstrap.min.js"></script>
<script type="text/javascript" src="js/project/sweetalert.min.js?ver=1"></script>
<script type="text/javascript" src="js/project/projectWbs.js"></script>
<script type="text/javascript" src="js/project/projectList.js"></script>
<script type="text/javascript" src="js/project/calendar.js"></script>
<script type="text/javascript" src="js/project/stringBuffer.js"></script>

<link rel="stylesheet" type="text/css" href="css/project/sweetalert.css?ver=1.2">
<link rel="stylesheet" type="text/css" href="css/project/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/project/bootstrap.min.css">

<style>
input[type='text']{
	border: 0px;
	width: 100%;
}
input[type='date']{
	border: 0px;
	width: 100%;
}
 
#prjAttend {
	font-weight: bold;
	text-align: center;
}
</style>
<script>
$(document).ready(function(){
	if($('.prjMems').length > 0){
		$('#projectAttendMembersBtn').hide();
	}
})
</script>
</head>
<body>
	<div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>프로젝트명</th><td th:text="${prjInfo.prjName}"></td>
		</tr>
		<tr>
			<th>PM</th><td th:text="${prjInfo.memId}"></td>
		</tr>
		<tr>
			<th>계약금</th><td th:text="${prjInfo.prjDeposit}"></td>
			<th>사업비</th><td th:text="${prjInfo.prjWorkingExpenses}"></td>
		</tr>
		<tr>
			<th>시작일</th><td th:text="${prjInfo.prjStart}"></td>
			<input type="hidden" id="prjStart" th:value="${prjInfo.prjStart}" />
			<th>종료일</th><td th:text="${prjInfo.prjEnd}"></td>
			<input type="hidden" id="prjEnd" th:value="${prjInfo.prjEnd}" />
		</tr>
		<tr>
			<th>마더업체</th><td th:text="${prjInfo.prjMothercompany}"></td>
			<th>참여인원</th><td><input class='btn btn-sm btn-warning btn-center' type="button"
					value="참여인원 리스트" onclick="projectAttendMemberModal()"></td>
		</tr>
		</thead>
	</table>
	
	<td><input class='btn btn-sm btn-warning btn-center' type="button"
					value="프로젝트 정보 수정" onclick="projectUpdateModal()"></td>
	<form action="selectProjectAttendMemberList" id="selectProjectAttendMembers" style="display: inline-block;">
		<input type="hidden" name="prjCode" id="selectProjectAttendMembersBtn" th:value="${prjInfo.prjCode}" />
			<input type="submit" value="참여인원 추가" id="projectAttendMembersBtn" class="btn btn-sm btn-warning btn-center"/>
	</form>
	</div>
	<br /><br /><br />
	<form action="#" method="post" id='insertProjectWbsList'>
<!-- 		<input type="hidden" id="prjCode" name="prjCode" value="${prjCode}" /> -->
		<table border="1" class="table table-bordered">
			<thead id='thead'>
				<tr>
					<td rowspan="5"><div style="width: 45px;"></div></td>
					<td rowspan="5"></td>
					<td rowspan="5">
						<div style="width: 450px;">
							<h1>업무구분</h1>
						</div>
					</td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td><div style="width: 100px;">월</div></td>
				</tr>
				<tr>
					<td>주차</td>
				</tr>
				<tr>
					<td>일</td>
				</tr>
				<tr>
					<td>총진척률</td>
				</tr>
				<tr>
					<td>일간진척률</td>
				</tr>
				<tr>
					<td><input type='checkbox' onclick='checkAll(this.checked)'/>전체</td>
					<td>
						<button type='button' class='btn btn-sm btn-info' onclick='createTopList()'>생성</button>
					</td>
					<td align="center">WBS 작업 목록</td>
					<td>계획 작업시작일</td>
					<td>계획 작업종료일</td>
					<td>실제 작업종료일</td>
					<td>담당자</td>
					<td>산출물</td>
					<td></td>
				</tr>
			</thead>
			<tbody id='tbody'>
			</tbody>
		</table>
		<input class="btn btn-sm btn-warning btn-center" type="button" value="저장" onclick="insertProjectWbsList()">
		<input class="btn btn-sm btn-warning btn-center" type="button" value="프로젝트 목록" onclick="location.href='/project'">
		 <input class='btn btn-sm btn-warning btn-center' type='button' value='삭제' onclick='checkListRemove()'>
	</form>
	
	<!-- 프로젝트 정보 수정 모달 -->
	<div class="modal fade" id="projectUpdateModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="prjAttend">프로젝트 정보 수정</h4>
				</div>
				<div class="modal-body">
					<form action="/updateProject" method='post'
						id='frmUpdateProjcet'>
						<div class='form-group'>
						<input type="hidden" name="prjCode" id="prjCode" th:value="${prjInfo.prjCode}" />
							<label>프로젝트명</label>
							<input class='form-control' type="text" name='prjName' id='prjName' th:value="${prjInfo.prjName}"/>
						</div>
						<div class='form-group'>
							<label>계약금</label>
							<input class='form-control' type="number" name='prjDeposit' id='prjDeposit' th:value="${prjInfo.prjDeposit}"/>
						</div>
						<div class='form-group'>
							<label>사업비</label>
							<input class='form-control' type="number" name='prjWorkingExpenses' id='prjWorkingExpenses' th:value="${prjInfo.prjWorkingExpenses}"/>
						</div>
						<div class='form-group'>
							<label>시작일</label>
							<input class='form-control' type="date" name='prjStart' id='prjStart' th:value="${prjInfo.prjStart}" />
						</div>
						<div class='form-group'>
							<label>종료일</label>
							<input class='form-control' type="date" name='prjEnd' id='prjEnd' th:value="${prjInfo.prjEnd}"/>
						</div>
						<div class='form-group'>
							<label>마더업체</label>
							<input class='form-control' type="text" name='prjMothercompany' id='prjMothercompany' th:value="${prjInfo.prjMothercompany}"/>
						</div>
						<div class='form-group'>
							<label>PM</label>
							<input class='form-control' type="text" name='memId' id='memId' th:value="${prjInfo.memId}"/>
						</div>
						<div class='modal-footer'>
							<input type="button" class='btn btn-sm btn-warning' value="확인" onclick="updateProject()" />
							<input type="reset" class='btn btn-sm btn-warning' value="초기화" />
							<input type='button' class='btn btn-sm btn-warning' data-dismiss='modal' value="취소" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- 프로젝트 참여인원 확인 모달 -->
	<div class="modal fade" id="projectAttendMemberModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="prjAttend">프로젝트 참여인원</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
					<tr>
						<th>이름</th>
						<th>부서</th>
						<th>직급</th>
					</tr>
					<tr th:each="memInfos : ${memInfos}">
						<div class="form-group">
						<td class="prjMems" th:text="${memInfos.memName}"></td>
						<td th:text="${memInfos.deptName}"></td>
						<td th:text="${memInfos.ranks}"></td>
						</div>
					</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>