<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Project List</title>
<script type="text/javascript" src="js/project/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/project/bootstrap.min.js"></script>
<script type="text/javascript" src="js/project/sweetalert.min.js?ver=1"></script>
<script type="text/javascript" src="js/project/projectList.js"></script>

<link rel="stylesheet" type="text/css" href="css/project/sweetalert.css?ver=1.2">
<link rel="stylesheet" type="text/css" href="css/project/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/project/bootstrap.min.css">
</head>
<body>
	<div>
	<td><a th:href="'/project?prjCompletion=0'" th:text="'전체 프로젝트'"></a></td>
	<td><a th:href="'/projectEnd?prjCompletion=1'" th:text="'완료된 프로젝트'"></a></td>
	</div>
	<div>
	<table class="table table-hover">
		<thead>
		<tr>
<!-- 			<th>프로젝트 코드</th> -->
			<th>프로젝트명</th>
			<th>PM</th>
			<th>시작일</th>
			<th>종료일</th>
			<th>마더업체</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="Infos : ${prjInfos}">
			<input type="hidden" name="prjCode" id="prjCode" th:value="${Infos.prjCode}">
<!-- 			<td th:text="${Infos.prjCode}" id="prjCode" th:value="${Infos.prjCode}"></td> -->
			<td><a th:href="'/projectDetail?prjCode='+${Infos.prjCode}" th:text="${Infos.prjName}"></a></td>
			<td th:text="${Infos.memId}"></td>
			<td th:text="${Infos.prjStart}"></td>
			<td th:text="${Infos.prjEnd}"></td>
			<td th:text="${Infos.prjMothercompany}"></td>
		</tr>
		</tbody>
	</table>
	<input class='btn btn-sm btn-warning btn-center' type='button'
			value='프로젝트 생성' onclick='insertProjectForm()'>
	</div>
	
	<!-- 프로젝트 생성 modal -->
	<div class="modal fade" id="insertProjectForm" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">프로젝트 생성</h4>
				</div>
				<div class="modal-body">
					<!-- 프로젝트 생성처리 form -->
					<form action="/insertProject" method='post'
						id='frmInsertProjcet'>
						<div class='form-group'>
							<label>프로젝트명</label>
							<input class='form-control' type="text" name='prjName' id='prjName' />
						</div>
						<div class='form-group'>
							<label>계약금</label>
							<input class='form-control' type="number" name='prjDeposit' id='prjDeposit' />
						</div>
						<div class='form-group'>
							<label>사업비</label>
							<input class='form-control' type="number" name='prjWorkingExpenses' id='prjWorkingExpenses' />
						</div>
						<div class='form-group'>
							<label>시작일</label>
							<input class='form-control' type="date" name='prjStart' id='prjStart' />
						</div>
						<div class='form-group'>
							<label>종료일</label>
							<input class='form-control' type="date" name='prjEnd' id='prjEnd' />
						</div>
						<div class='form-group'>
							<label>마더업체</label>
							<input class='form-control' type="text" name='prjMothercompany' id='prjMothercompany' />
						</div>
						<div class='form-group'>
							<label>PM</label>
							<input class='form-control' type="text" name='memId' id='memId' />
						</div>
						<div class='form-group'>
							<label>PM</label>
							<input class='form-control' type="text" name='memName' id='memName' />
						</div>
						
						<div class='modal-footer'>
							<input type="button" class='btn btn-sm btn-warning' value="확인" onclick="insertProject()" />
							<input type="reset" class='btn btn-sm btn-warning' value="초기화" />
							<input type='button' class='btn btn-sm btn-warning' data-dismiss='modal' value="취소" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>