<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>익명게시판 목록페이지</title>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
<script>
$(document).ready(function() {
	$("#allCheckBox").click(function(){
		var chk = $("#allCheckBox").prop("checked");
		if(chk){
			$(".checkBox").prop("checked",true);
		}else{
			$(".checkBox").prop("checked",false);
		}
	});
	$(".checkBox").click(function(){
		$("#allCheckBox").prop("checked",false);
	});
	$(".deleteBtn").click(function(){
		var confirm_val = confirm("정말 삭제하시겠습니까?");
		if(confirm_val){
			var checkBoxArr = new Array();
			$("input[class='checkBox']:checked").each(function(){
				checkBoxArr.push($(this).val());
			})
			$.ajax({
				url:"/user/deleteAnonymousBoardCheckBox",
				type:"post",
				data:{checkBoxArr:checkBoxArr},
				success:function(result){
					alert(result);
					location.href="/user/selectAnonymousBoardList";
				}
			});
		}
	});
});
</script>
</head>
<body>
<!-- 검색 시작 -->
<form th:action="@{/user/selectAnonymousBoardList}">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
<tr>
    <td align="right">
        <select name="searchCondition" id="category">
        	<option value="btitle">제목</option>
        	<option value="bcontent">내용</option>
        </select>
        <input name="searchKeyword" id="keyword" type="text">
        <input type="submit" value="검색">
    </td>
</tr>
</table>
</form>
<input type="hidden" id="searchCondition" th:value="${search.searchCondition}">
<input type="hidden" id="searchKeyword" th:value="${search.searchKeyword}">
<!-- 검색 종료 -->

<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
	<tr>
		<th><input type="checkbox" sec:authorize="hasRole('ROLE_ADMIN')" name="allCheckBox" id="allCheckBox"></th>
		<th bgcolor="orange" width="100">번호</th>
		<th bgcolor="orange" width="400">제목</th>
		<th bgcolor="orange" width="100">날짜</th>
		<th bgcolor="orange" width="100">조회수</th>
	</tr>
	<tr th:each="anonymousBoard:${anonymousBoardList}">
		<td><input type="checkbox" sec:authorize="hasRole('ROLE_ADMIN')" name="checkBox" class="checkBox" th:value="${anonymousBoard.bno}"></td>
		<td th:text="${anonymousBoard.bno}"></td>
		<td style="text-align: left;"><span th:each="num:${anonymousBoard.bindentcnt}"><span>&nbsp;</span></span>
			<span th:if="${anonymousBoard.bindent>0 }">
				<a th:href="@{/user/selectAnonymousBoard(bno=${anonymousBoard.bno})}" th:text="'re:'+${anonymousBoard.btitle}"></a>
			</span>
			<span th:unless="${anonymousBoard.bindent>0 }">
				<a th:href="@{/user/selectAnonymousBoard(bno=${anonymousBoard.bno})}" th:text="${anonymousBoard.btitle}"></a>
			</span>
		</td>
		<div th:if="${today==#dates.format(anonymousBoard.bdate,'yyyy-MM-dd')}">
			<td th:text="${#dates.format(anonymousBoard.bdate,'HH:mm')}"></td>
		</div>
		<div th:unless="${today==#dates.format(anonymousBoard.bdate,'yyyy-MM-dd')}">
			<td th:text="${#dates.format(anonymousBoard.bdate,'yyyy-MM-dd')}"></td>
		</div>
		<td th:text="${anonymousBoard.bcnt}"></td>
	</tr>
	<tr>
		<td colspan="5">
			<input sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="deleteBtn" value="삭제하기(관리자)">
			<a th:href="@{/user/insertAnonymousBoardView}">글작성</a>
		</td>
	</tr>
</table>
<table th:align="center">
	<tr>
		<td colspan="5">
			<span th:if="${page.curBlock > 1 }">
				<a th:href="@{/user/selectAnonymousBoardList(curPage=${page.prevPage},searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}">[이전]</a>
			</span>
			<span th:if="${page.curBlock > 1 }">
				<a th:href="@{/user/selectAnonymousBoardList(curPage=1,searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}">1</a>
			</span>
			<span th:each="num:${block}">
				<span th:if="${num==page.curPage }">
					<a th:href="@{/user/selectAnonymousBoardList(curPage=${num},searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}" th:text="${num}" style="color:orange;"></a>
				</span>
				<span th:unless="${num==page.curPage }">
					<a th:href="@{/user/selectAnonymousBoardList(curPage=${num},searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}" th:text="${num}"></a>
				</span>
			</span>
			<span th:if="${page.curBlock < page.totBlock }">
				<a th:href="@{/user/selectAnonymousBoardList(curPage=${page.totPage},searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}" th:text="${page.totPage}"></a>
			</span>
			<span th:if="${page.curBlock < page.totBlock }">
				<a th:href="@{/user/selectAnonymousBoardList(curPage=${page.nextPage},searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}">[다음]</a>
			</span>
		</td>
	</tr>
</table>
</body>
</html>