<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>전자결재 문서양식 리스트(관리자)</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>문서명</td>
			<td>문서내용</td>
		</tr>
		<tr th:each="approval:${approvalDocList}">
			<td> <a th:href="@{/admin/insertApprovalDocView(apdocNo=${approval.apdocNo})}" th:text="${approval.apdocName}"></a></td>
			<td th:utext="${approval.apdocForm}"></td>
		</tr>
	</table>
	<a th:href="@{/admin/insertApprovalDocView}">문서 등록</a>
</body>
</html>